
<html>
<body>

  <table id='tbl' border=1 width="100%">
    <tr>
      <th style="width:13%">repo</th>
      <th style="width:13%">pr1</th>
      <th style="width:13%">pr2</th>
      <th style="width:13%" onclick="sortTable(3)">score</th>
      <th style="width:10%">Send comment?</th>
      <th style="width:20%">Notes</th>
    </tr>
    {% for row in data %}
    <tr>
      <td>
        <a href="https://github.com/{{row[0]}}">{{row[0]}}</a>
      </td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>
        <form name="send_comment" method=POST action="{{ url_for('send_comment') }}">
          <button name="name" value=1>Send comment</button>
          <p>
        </form>
        <form name="no_send_comment" method=POST action="{{ url_for('no_send_comment') }}">
          <button name="name" value=3>Remove</button>
        </form>
      </td>
      <td>
        <textarea rows="4">
          {% if row[15] == "empty" %}
            Input notes here...
          {% else %}
            {{row[15]}}
          {% endif %}
        </textarea>
        <br>
        <button>Save</button>
      </td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>
